@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Shalimar', cursive;

}

.button {
  padding: 20px;
  margin: 0px 3px;
  width: 78px;
  border: 2px solid rgb(20, 196, 0);
  border-radius: 9px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 253, 253);
  font-size: 100%;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(28, 249, 4);
  color: rgb(255, 255, 255);
}

.row {
  margin: 8px 0px;
}

.row input {
  font-size: 27px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.input {
  text-align: center;
}

.footer {
  text-align: center;
}

.footer-game {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}